@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.font {
  font-family: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #faf8fd;
  width: 100vw;
  height: 100vh;
}
.blob2 {
  width: 500px;
  position: relative;
  z-index: 5;
  opacity: 0.5;
  filter: blur(8px);
  -webkit-filter: blur(90px);
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.ingredients {
  color: #e34e88;
}
.col-2 {
  position: relative;
  flex-basis: 100%;
  display: flex;
  align-items: center;
}
.blob {
  width: 500px;
  position: relative;
  z-index: 5;
  top: -12px;
  right: -306px;
  opacity: 0.9;
}
.food-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
}
.button {
  background-color: black;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 10px;
  padding: 16px;
  border: none;
  font-weight: 600;
  margin-top: 18px;
  justify-content: flex-start;
  align-items: flex-start;
}
p {
  font-weight: 300;
  padding: 5px;
  margin-top: 10px;
}
form input {
  padding: 15px;
  border: none;
  background-color: white;
  width: 400px;
  border-right: 5px;
}
form button {
  padding: 15px;
  border: none;
  border-left: 5px;
  width: 150px;
  background-color: #e34e88;
  color: white;
}
h1 {
  font-weight: 900;
}
.how-btn {
  padding: 15px;
  border: none;
  background: transparent;
  width: 150px;
  margin: 0 15px 0 15px;
  font-size: 16px;
  font-weight: 800;
}
.icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
  left: 0px;
}
.icons{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.icons img{
  width: 50px;
  height: 50px;

}
